streamlit>=1.31.1
opencv-python>=4.9.0.80
torch>=2.2.0
torchvision>=0.17.0
ultralytics>=8.1.28
numpy>=1.26.4
pandas>=2.2.0
plotly>=5.19.0
pillow>=10.2.0
python-dotenv>=1.0.1
requests>=2.31.0
supervision>=0.18.0
rfdetr>=0.1.0
tqdm>=4.66.1 